################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/APIGatewayAuthenticationDemo
/APIGateway/bin/Debug/netcoreapp2.0
/APIGateway/obj
/AuthServer/bin/Debug/netcoreapp2.0
/AuthServer/obj
/ClientApp/bin/Debug/netcoreapp2.0
/ClientApp/obj
/CustomerAPIServices/bin/Debug/netcoreapp2.0
/CustomerAPIServices/obj
/APIGateway6/obj
/AuthServer6/obj
/ClientApp6/obj
/CustomerAPIServices6/obj
/.vs/ProjectEvaluation
/OcelotWithJwtAuthen6/OcelotWithJwtAuthen6/.vs/OcelotWithJwtAuthen6/DesignTimeBuild
/OcelotWithJwtAuthen6/OcelotWithJwtAuthen6/.vs/OcelotWithJwtAuthen6/FileContentIndex
/OcelotWithJwtAuthen6/OcelotWithJwtAuthen6/.vs
/OcelotWithJwtAuthen6/OcelotWithJwtAuthen6/APIGateway/bin/Debug/net6.0
/OcelotWithJwtAuthen6/OcelotWithJwtAuthen6/APIGateway/obj
/OcelotWithJwtAuthen6/OcelotWithJwtAuthen6/APIGateway/Controllers/WeatherForecastController.cs
/OcelotWithJwtAuthen6/OcelotWithJwtAuthen6/AuthServer/bin/Debug/net6.0
/OcelotWithJwtAuthen6/OcelotWithJwtAuthen6/APIGateway/Properties/launchSettings.json
/OcelotWithJwtAuthen6/OcelotWithJwtAuthen6/AuthServer/obj
/OcelotWithJwtAuthen6/OcelotWithJwtAuthen6/ClientApp/bin/Debug/net6.0
/OcelotWithJwtAuthen6/OcelotWithJwtAuthen6/ClientApp/obj
/OcelotWithJwtAuthen6/OcelotWithJwtAuthen6/CustomerAPIServices/bin/Debug/net6.0
/OcelotWithJwtAuthen6/OcelotWithJwtAuthen6/CustomerAPIServices/obj
